.navbar {
  color: white;
  position: relative;
  padding-top: 20px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  z-index: 5;
}
.navbar p {
  font-size: 2rem;
  font-family: "VT323";
}

.footer {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 40px;
  justify-content: center;
  padding-bottom: 20px;
  z-index: 5;
}
.footer p {
  font-size: 1.5rem;
  color: rgba(187, 170, 255, 0.349);
  font-family: "VT323";
  margin: 0 20px;
  margin-top: 15px;
  text-align: center;
  text-decoration: underline;
}
.footer .active {
  color: rgba(255, 255, 255, 0.904);
}
.footer .notActive {
  color: rgba(184, 195, 255, 0.301);
}
.footer .cta {
  animation: pulseColor 0.65s forwards alternate-reverse infinite;
}

.otherFooter {
  width: 100%;
  transition: all 300ms linear;
  padding-bottom: 5px;
  opacity: 0;
  z-index: 5;
  flex-wrap: wrap;
  transform: translate(-50%, -50%);
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.otherFooter p {
  font-size: 1.5rem;
  color: rgb(93, 52, 255);
  font-family: "VT323";
  margin: 0 20px;
  text-decoration: underline;
}
.otherFooter .active {
  color: rgb(62, 14, 255);
}
.otherFooter .notActive {
  color: rgba(184, 195, 255, 0.301);
}

@keyframes pulseColor {
  from {
    color: rgba(184, 195, 255, 0.301);
  }
  to {
    color: rgba(255, 255, 255, 0.904);
  }
}
@media only screen and (min-height: 490px) and (max-width: 950px) {
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .footer p {
    cursor: pointer !important;
  }
}
@media only screen and (max-width: 950px) {
  .footer p {
    cursor: pointer !important;
  }
  .otherFooter {
    position: relative;
    transform: none;
    left: unset;
    bottom: unset;
    padding-bottom: 30px;
  }
  .otherFooter p {
    cursor: pointer !important;
  }
  .otherFooter .active {
    color: white !important;
  }
}
@media only screen and (max-width: 540px) {
  .otherFooter p {
    margin: 0 10px;
    margin-top: 15px;
  }
  .footer {
    margin-top: 60px;
  }
  .footer p {
    margin: 0 10px;
    margin-top: 15px;
  }
}