.projects {
  display: grid;
  height: 100vh;
  background: rgb(4, 0, 23);
  background: radial-gradient(circle, rgb(4, 0, 23) 0%, rgb(12, 0, 57) 0%, rgb(4, 0, 23) 100%);
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  align-self: center;
  margin-top: -40px;
}
.middle .text {
  text-align: center;
  margin: 0 90px;
  position: relative;
  z-index: 2;
  font-size: 2.5rem;
  width: 600px;
}
.middle .x, .middle .cube {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 5 !important;
}
.middle .x img, .middle .cube img {
  width: 55px;
  position: relative;
  padding-top: 10px;
}
.middle .x p, .middle .cube p {
  font-family: "VT323";
  color: rgba(255, 255, 255, 0.308);
  position: relative;
  padding-top: 0px;
  font-size: 1.3rem;
}
.middle .middleMiddle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.projectsWrapper {
  width: 100%;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 100px;
}
.projectsWrapper .innerWrapper {
  width: 80%;
  margin: 0 auto;
}

.scroll {
  display: block;
  margin-top: 80px;
}

.circle {
  animation: upDown 800ms infinite alternate-reverse;
}

@keyframes upDown {
  0% {
    transform: translate(262px, 798px);
  }
  100% {
    transform: translate(262px, 830px);
  }
}
@media only screen and (max-width: 950px) {
  .projects {
    height: auto;
  }
  .middle {
    font-size: 3rem;
    margin-top: 0px;
    margin-bottom: 70px;
  }
  .middle div:nth-child(2)::after {
    margin-top: 19px;
  }
  .middle .text {
    width: -moz-fit-content;
    width: fit-content;
  }
  .middle .x, .middle .cube {
    display: none;
  }
  .scroll {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 650px) {
  .middle .text {
    font-size: 2rem;
    padding: 0 30px;
    width: 100%;
  }
}
@media only screen and (max-width: 370px) {
  .middle .text {
    font-size: 1.6rem !important;
    padding: 0 15px;
    width: 100%;
  }
}