.navbar{
    color: white;
    position: relative;
    padding-top: 20px;
    width: fit-content;
    margin: 0 auto;
    p{
        font-size: 2rem;
        font-family: "VT323";
    }
}


.footer{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 20px;
    p{
        font-size: 1.5rem;
        color: rgba(187, 170, 255, 0.349);
        font-family: "VT323";
        margin: 0 20px;
        text-decoration: underline;
    }

    .active{
        color:rgba(255, 255, 255, 0.904);
    }

    .notActive{
        color: rgba(187, 170, 255, 0.349);
    }

    .cta{
        animation: pulseColor .65s forwards alternate-reverse infinite;
    }
}

@keyframes pulseColor{
    from{
        color: rgba(187, 170, 255, 0.349);
    }
    to{
        color: rgba(255, 255, 255, 0.904);
    }
}