.hire {
  display: grid;
  height: 100vh;
  background: rgb(4, 0, 23);
  background: radial-gradient(circle, rgb(4, 0, 23) 0%, rgb(12, 0, 57) 0%, rgb(4, 0, 23) 100%);
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  align-self: center;
  margin-top: 30px;
}
.middle .x, .middle .cube {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 5 !important;
}
.middle .x img, .middle .cube img {
  width: 55px;
  position: relative;
  padding-top: 10px;
}
.middle .x p, .middle .cube p {
  font-family: "VT323";
  color: rgba(255, 255, 255, 0.308);
  position: relative;
  padding-top: 0px;
  font-size: 1.3rem;
}
.middle .middleMiddle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 80px;
}

.form {
  position: relative;
  top: 10px;
  display: grid;
  grid-template-columns: 320px 320px;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  grid-row-gap: 13px;
  grid-template-areas: "name email" "message message" "under under";
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}

.message {
  grid-area: message;
}

.form button {
  padding: 6px 20px;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 30px;
  border: none;
  outline: none;
  background-color: rgb(120, 86, 255);
  color: white;
  font-size: 1.1rem;
  display: flex;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms linear;
  position: relative;
  top: 20px;
  text-align: start;
}

.form button:hover {
  transform: scale(1.03);
  background: rgb(62, 14, 255) !important;
}

.form button svg {
  fill: white;
  width: 30px;
  height: 30px;
}

.form button span {
  position: relative;
  left: 10px;
  top: 5px;
}

.name input, .email input {
  height: 45px;
  border: none;
  border-radius: 5px;
  border: 1px solid rgb(149, 126, 243);
  background-color: transparent;
  outline: none;
  padding: 15px;
  color: white;
  font-size: 1.1rem;
  width: 100%;
  z-index: 99;
  font-weight: 400;
  transition: all 300ms linear;
}

.message textarea {
  border: none;
  border-radius: 5px;
  border: 1px solid rgb(149, 126, 243);
  background-color: transparent;
  width: 100%;
  color: white;
  outline: none;
  resize: none;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: 400;
  height: 150px;
  transition: all 300ms linear;
}

.name label, .email label, .message label {
  position: relative;
  font-size: 1.1rem;
  font-weight: 400;
  transition: all 300ms linear;
  color: rgb(149, 126, 243);
  top: 32px;
  left: 10px;
  background-color: transparent;
  z-index: 999;
  width: -moz-fit-content;
  width: fit-content;
}

.loading {
  border: 6px solid rgb(236, 236, 236);
  border-radius: 50%;
  border-top: 6px solid rgb(62, 14, 255);
  width: 35px;
  height: 35px;
  position: relative;
  z-index: 999;
  left: 30px;
  top: 23px;
  transition: all 300ms ease-in;
  opacity: 0;
  transform: translate(-50%, -50%); /* Safari */
  animation: spin 1s linear infinite;
}

.underForm {
  grid-area: under;
  display: flex;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 950px) {
  .hire {
    height: auto;
  }
  .middle {
    margin-top: 80px;
    margin-bottom: 70px;
  }
  .middle .x, .middle .cube {
    display: none;
  }
}
@media only screen and (max-width: 820px) {
  .middle .middleMiddle {
    margin-left: 20px;
    margin-right: 20px;
  }
  .form {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 470px) {
  .middle .middleMiddle {
    width: 100%;
  }
  .form {
    grid-template-columns: auto;
    width: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "name" "email" "message" "under";
  }
}/*# sourceMappingURL=Hire.module.css.map */